testnew2/force-app/main/default/flows/D2CPaymentFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ReturnToCheckout</name>
        <label>Return To Checkout</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>paymentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>PaymentDecision</name>
        <label>Payment Decision</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>PaymentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Failed</defaultConnectorLabel>
        <rules>
            <name>PaymentSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUCCESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReturnToCheckout</targetReference>
            </connector>
            <label>Payment Success</label>
        </rules>
    </decisions>
    <description>D2C Commerce payment flow for custom payment integration</description>
    <interviewLabel>D2C Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>D2C Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>PaymentScreen</name>
        <label>Payment Information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PaymentDecision</targetReference>
        </connector>
        <fields>
            <name>PaymentForm</name>
            <extensionName>c:d2cPaymentForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>totalAmount</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>paymentId</assignToReference>
                <name>paymentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentStatus</assignToReference>
                <name>status</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PaymentScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
