testnew2/force-app/main/default/flows/D2CStandardCheckoutFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Main_Decision_Hub</name>
        <label>Main Decision Hub</label>
        <locationX>675</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Payment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.null__NotFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>Payment_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUCCESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Place_Order</targetReference>
            </connector>
            <label>Payment Success</label>
        </rules>
    </decisions>
    <description>D2C Commerce standard checkout flow with custom payment integration</description>
    <interviewLabel>D2C Standard Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>D2C Standard Checkout Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Place_Order</name>
        <label>Place Order</label>
        <locationX>169</locationX>
        <locationY>1228</locationY>
        <connector>
            <targetReference>Order_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalOrderId</field>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>800</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>An error occurred during checkout. Please try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Confirmation</name>
        <label>Order Confirmation</label>
        <locationX>177</locationX>
        <locationY>1611</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrderConfirmationMessage</name>
            <fieldText>Thank you for your order! Your order number is: {!orderNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen</name>
        <label>Payment Information</label>
        <locationX>28</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Main_Decision_Hub</targetReference>
        </connector>
        <fields>
            <name>PaymentForm</name>
            <extensionName>c:d2cPaymentForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>cartDetails.GrandTotalAmount</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>paymentId</assignToReference>
                <name>paymentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentStatus</assignToReference>
                <name>status</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payment_Screen</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WebCart</objectType>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
